<%= form_with(model: class_module_relationship, local: true) do |form| %>
  <% if class_module_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_module_relationship.errors.count, "error") %> prohibited this class_module_relationship from being saved:</h2>

      <ul>
      <% class_module_relationship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_classes_id %>
    <%= form.text_field :student_classes_id, id: :class_module_relationship_student_classes_id %>
  </div>

  <div class="field">
    <%= form.label :case_modules_id %>
    <%= form.text_field :case_modules_id, id: :class_module_relationship_case_modules_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
