<p id="notice"><%= notice %></p>

<h1>Class Module Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Student classes</th>
      <th>Case modules</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_module_relationships.each do |class_module_relationship| %>
      <tr>
        <td><%= class_module_relationship.student_classes %></td>
        <td><%= class_module_relationship.case_modules %></td>
        <td><%= link_to 'Show', class_module_relationship %></td>
        <td><%= link_to 'Edit', edit_class_module_relationship_path(class_module_relationship) %></td>
        <td><%= link_to 'Destroy', class_module_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class Module Relationship', new_class_module_relationship_path %>
