<p id="notice"><%= notice %></p>

<p>
  <strong>Student classes:</strong>
  <%= @class_module_relationship.student_classes %>
</p>

<p>
  <strong>Case modules:</strong>
  <%= @class_module_relationship.case_modules %>
</p>

<%= link_to 'Edit', edit_class_module_relationship_path(@class_module_relationship) %> |
<%= link_to 'Back', class_module_relationships_path %>
