<p id="notice"><%= notice %></p>

<h1>Case Picture Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Clinical cases</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @case_picture_relationships.each do |case_picture_relationship| %>
      <tr>
        <td><%= case_picture_relationship.picture %></td>
        <td><%= case_picture_relationship.clinical_cases %></td>
        <td><%= link_to 'Show', case_picture_relationship %></td>
        <td><%= link_to 'Edit', edit_case_picture_relationship_path(case_picture_relationship) %></td>
        <td><%= link_to 'Destroy', case_picture_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case Picture Relationship', new_case_picture_relationship_path %>
