<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @case_picture_relationship.picture %>
</p>

<p>
  <strong>Clinical cases:</strong>
  <%= @case_picture_relationship.clinical_cases %>
</p>

<%= link_to 'Edit', edit_case_picture_relationship_path(@case_picture_relationship) %> |
<%= link_to 'Back', case_picture_relationships_path %>
