<p id="notice"><%= notice %></p>

<h1>Student Class Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Student classes</th>
      <th>Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_class_relationships.each do |student_class_relationship| %>
      <tr>
        <td><%= student_class_relationship.student_classes %></td>
        <td><%= student_class_relationship.students %></td>
        <td><%= link_to 'Show', student_class_relationship %></td>
        <td><%= link_to 'Edit', edit_student_class_relationship_path(student_class_relationship) %></td>
        <td><%= link_to 'Destroy', student_class_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Class Relationship', new_student_class_relationship_path %>
