<p id="notice"><%= notice %></p>

<p>
  <strong>Student classes:</strong>
  <%= @student_class_relationship.student_classes %>
</p>

<p>
  <strong>Students:</strong>
  <%= @student_class_relationship.students %>
</p>

<%= link_to 'Edit', edit_student_class_relationship_path(@student_class_relationship) %> |
<%= link_to 'Back', student_class_relationships_path %>
