<p id="notice"><%= notice %></p>

<h1>Professor Module Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Case modules</th>
      <th>Professors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professor_module_relationships.each do |professor_module_relationship| %>
      <tr>
        <td><%= professor_module_relationship.case_modules %></td>
        <td><%= professor_module_relationship.professors %></td>
        <td><%= link_to 'Show', professor_module_relationship %></td>
        <td><%= link_to 'Edit', edit_professor_module_relationship_path(professor_module_relationship) %></td>
        <td><%= link_to 'Destroy', professor_module_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor Module Relationship', new_professor_module_relationship_path %>
