<%= form_for([@module, @topic], html:{class:'form-style-5'}) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> proibiram esse Assunto de ser salvo:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br>
  <% end %>

  <%= render "#{@topic.current_step}_step", :form => form %>

  <div class="actions">
    <% if @topic.first_step?%>
      <%= form.submit "Próximo"%>
    <% elsif @topic.new_record?%>
      <%= form.submit "Criar Assunto"%>
    <%else%>
      <%= form.submit "Atualizar Assunto"%>
    <%end%>

    <%= form.submit "Anterior", :name => "back_button" unless @topic.first_step? %>
  </div>
<% end %>
