<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<h1>Editando o Assunto</h1>
	
	<% if !current_user.student? %>
		<%= render 'form', topic: @topic %>

		<div class="actions">
			<%= link_to image_tag("ico04.png"), case_module_topic_path(@module, @topic) %>
			<div class="button-style">
				<%= link_to 'Excluir Assunto', [@module, @topic], method: :delete, data: { confirm: 'Deseja mesmo apagar?' } %>	
			</div>
		</div>

	<% else %>
		<div class="actions">
			Você não possui autorização para editar esse assunto.
			<br>
			<br>
			<%= link_to image_tag("ico04.png"), case_module_topics_path(@module) %>
		</div>
	<%end%>
</div>