<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>
  <h1 style='text-align: center;'> Assunto </h1>
  <p style='text-align: center;'><b>Clique na imagem para aumentar sua resolução.</b></p>

  <p>
    <strong>Título:</strong>
    <%= @topic.title %>
  </p>
  
  <p>
    <strong>Descrição do Assunto:</strong>
  </p>
  <pre><%= @topic.description %></pre>

  <div class="image_button">
    <%= link_to image_case_module_topic_path(@module, @topic) do %>
      <%= image_tag(@topic.thumbnail) if @topic.image.attached? %>
    <% end %><br>
  </div>

  <p>
    <strong>Autores:</strong>
    <%= @topic.authors %>
  </p>

  <p>
    <strong>Sobre o Assunto:</strong>
    <%= @topic.about %>
  </p>

  <p style='margin-bottom: 0px;'>
    <strong>Dicionário:</strong>
  </p>
  <div class="dictionary-button">
    <%= link_to module_dic_dictionaries_path(@module) do %>
      <%= "Dicionário" %>
      <% session[:back_dic] = {"type" => "topic", "module_id" => @module.id, "topic_id" => @topic.id} %>
    <% end %>
  </div>

  <div class="actions">
    <% if !current_user.student? %>
      <%= link_to 'Editar', edit_case_module_topic_path(@module, @topic) %>
      <%= link_to 'Novo Caso Clínico', new_topic_clinic_case_path(@topic) %>
    <%end%>

    <%= link_to 'Visualizar Casos Clínicos', topic_clinic_cases_path(@topic)%>
    <%= link_to 'Voltar', case_module_topics_path(@module) %>
  </div>
</div>