<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @topic.authors %>
</p>

<p>
  <strong>About:</strong>
  <%= @topic.about %>
</p>

<p>
  <strong>Casemodule:</strong>
  <%= @topic.caseModule %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
