<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>
  <h1 style='text-align: center;'> Assunto </h1>

  <p>
    <h2><u><%= @topic.title %></u></h2>
  </p>
  
  <p>
    <strong>Descrição do Assunto:</strong>
  </p>
  <pre><%= @topic.description %></pre>

  <div class="image_button">
    <p style='text-align: left; font-size: 12px; margin-bottom: 6px;'>
      <i>Clique na imagem para aumentar sua resolução.</i>
    </p>
    <%= link_to image_case_module_topic_path(@module, @topic) do %>
      <%= image_tag(@topic.thumbnail) if @topic.image.attached? %>
    <% end %><br>
  </div>

  <p>
    <strong>Autores:</strong>
    <%= @topic.authors %>
  </p>

  <p>
    <strong>Sobre o Assunto:</strong>
    <%= @topic.about %>
  </p>

  <div class="actions">
    <% if !current_user.student? %>
      <%= link_to 'Editar', edit_case_module_topic_path(@module, @topic) %>
      <%= link_to 'Novo Caso Clínico', new_topic_clinic_case_path(@topic) %>
    <%end%>

    <%= link_to 'Visualizar Casos Clínicos', topic_clinic_cases_path(@topic)%>
    <%= link_to 'Voltar', case_module_topics_path(@module) %>
  </div>
</div>