<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @topic.authors %>
</p>

<p>
  <strong>About:</strong>
  <%= @topic.about %>
</p>
<%= link_to 'Adicionar caso clinico', topic_clinic_cases_path(@topic)%>
<br>

<%= link_to 'Edit', edit_case_module_topic_path(@module, @topic) %> |
<%= link_to 'Back', case_module_topics_path(@module) %>
