<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Título:</strong>
    <%= @topic.title %>
  </p>
  
  <p>
    <strong>Descrição do tópico:</strong>
    <%= @topic.description %>
  </p>

  <div class='item_image'>
    <%= image_tag(@topic.image, :class => "image") if @topic.image.attached? %><br>
  </div>

  <p>
    <strong>Autores:</strong>
    <%= @topic.authors %>
  </p>

  <p>
    <strong>Sobre o Tópico:</strong>
    <%= @topic.about %>
  </p>

  <div class="actions">
    <% if !current_user.student? %>
      <%= link_to 'Editar', edit_case_module_topic_path(@module, @topic) %> |
      <%= link_to 'Criar novo caso clínico', new_topic_clinic_case_path(@topic) %> |
    <%end%>

    <%= link_to 'Visualizar casos clínicos', topic_clinic_cases_path(@topic)%> |
    <%= link_to 'Voltar', case_module_topics_path(@module) %>
  </div>
</div>