<h1>Index</h1>

<h2>lista de tabelas geradas</h2>
<%= link_to 'Pessoas', people_path %><br />
<%= link_to 'Respostas', answers_path %><br />
<%= link_to 'Modulos de Casos', case_modules_path %><br />
<%= link_to 'Caso', clinical_cases_path %><br />
<%= link_to 'Professores', professors_path %><br />
<%= link_to 'Questões', questions_path%><br />
<%= link_to 'Estudantes', students_path%><br />
<%= link_to 'Turmas', student_classes_path%><br />
