<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>

  <h1>Dicionário de termos</h1>
  <% if !current_user.student?%>
    <div class="button-style">
      <%= link_to 'Inserir novo termo', new_dictionary_path %>  
    </div>
    
  <%end%>
  <br>

  <table>
    <thead>
      <tr>
        <th>Termo</th>
        <th>Descrição</th>
        <% if !current_user.student?%>
          <th colspan="3"></th>
        <%end%>
      </tr>
    </thead>

    <tbody>
      <% @dictionaries.each do |dictionary| %>
        <tr>
          <td><%= dictionary.term %></td>
          <td><%= dictionary.description %></td>

          <% if !current_user.student?%>
              <td><div class="button-style">
                <%= link_to 'Editar', edit_dictionary_path(dictionary) %>
              </div></td>
              
              <td><div class="button-style">
                <%= link_to 'Excluir', dictionary, method: :delete, data: { confirm: 'Apagar termo e descição?' } %>
              </div></td>  
            
          <%end%>
        </tr>
      <% end %>
    </tbody>
    
  </table>  
</div>