<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Termo:</strong>
	  <%= @dictionary.term %>
	</p>

	<p>
	  <strong>Descrição:</strong>
	  <%= @dictionary.description %>
	</p>
	<div class="actions">
		<div class="button-style">
			<%= link_to 'Editar', edit_dictionary_path(@dictionary) %> |	
		</div>
		<%= link_to image_tag("ico04.png"), dictionaries_path %>
	</div>
</div>
