<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @dictionary.Term %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dictionary.Description %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
