<%= form_with(model: professor, local: true) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id, id: :professor_person_id %>
  </div>

  <div class="field">
    <%= form.label :field %>
    <%= form.text_field :field, id: :professor_field %>
  </div>

  <div class="field">
    <%= form.label :formation %>
    <%= form.text_field :formation, id: :professor_formation %>
  </div>

  <div class="field">
    <%= form.label :degree %>
    <%= form.text_field :degree, id: :professor_degree %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
