<p id="notice"><%= notice %></p>

<h1>Question Answer Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_answer_relationships.each do |question_answer_relationship| %>
      <tr>
        <td><%= question_answer_relationship.answer %></td>
        <td><%= question_answer_relationship.question %></td>
        <td><%= link_to 'Show', question_answer_relationship %></td>
        <td><%= link_to 'Edit', edit_question_answer_relationship_path(question_answer_relationship) %></td>
        <td><%= link_to 'Destroy', question_answer_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Answer Relationship', new_question_answer_relationship_path %>
