<%= form_for([@topic, @clinic_case], html:{class:'form-style-5'}) do |form| %>
  <% if clinic_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinic_case.errors.count, "error") %> proibiram esse Caso Clínico de ser salvo:</h2>

      <ul>
      <% clinic_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Título: <br> <%= form.text_field :title %>
  </div>

  <div class="field">
    Informações Clínicas: <br> <%= form.text_area :clinicInformation %>
  </div>

   <div class="field">
    Imagens: <br> <%= form.file_field :images, multiple: true %><br><br>
  </div>

  <div class="field">
    Descrições do caso: <br> <%= form.text_area :description %>
  </div>

  <div class="field">
    Evolução do caso: <br> <%= form.text_area :caseEvolution %>
  </div>

  <div class="field">
    Aprendendo um pouco mais: <br> <%= form.text_area :extraInformation %>
  </div>

  <div class="actions">
    <% if current_page?(:controller => 'clinic_cases', :action => 'new') %>
      <%= form.submit "Criar Caso Clínico"%>
    <%else current_page?(:controller => 'clinic_cases', :action => 'edit')%>
      <%= form.submit "Atualizar Caso Clínico"%>
    <%end%>
  </div>
<% end %>
