<%= form_for([@topic, @clinic_case], html:{class:'form-style-5'}) do |form| %>
  <% if clinic_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clinic_case.errors.count, "error") %> impediram esse Caso Clínico de ser salvo:</h2>

      <ul>
      <% clinic_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "#{@clinic_case.current_step}_step", :form => form %>

  <div class="actions">
    <% if @clinic_case.first_step?%>
      <%= form.submit "Próximo"%>
    <% elsif @clinic_case.new_record?%>
      <%= form.submit "Criar Caso Clínico"%>
    <%else%>
      <%= form.submit "Atualizar Caso Clínico"%>
    <%end%>

    <%= form.submit "Anterior", :name => "back_button" unless @clinic_case.first_step? %>
  </div>
<% end %>
