<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>

  <h1>Casos Clínicos</h1>

  <%= form_tag(clinic_cases_path, method: :get) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Buscar', name: nil %>
  <% end %>

  <%= link_to 'Novo Caso Clínico', new_clinic_case_path %>

  <ol>
    <% @clinic_cases.each do |clinic_case| %>
      <li>
        <% div_id = "#{clinic_case.id}" -%>
        <div class='clinic_case_item', id="<%= div_id -%>">
          <a href="/clinic_cases/<%= div_id -%>">
            <div class='item_image'>
              <%= image_tag(clinic_case.images[0], :class => "image")%><br>
            </div>

            <div class='separator_line'></div>
            
            <div class='item_description'>
              <span> <%= clinic_case.title %> </span><br>
              <p> <%= clinic_case.description %> </p><br>
            </div>
          </a>
        </div>
      </li>
    <% end%>
  </ol>

  <br>

</div>