<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>
  <h1 style='text-align: center;'> Caso Clínico </h1>
  <p style='text-align: center;'><b>Clique na imagem para aumentar sua resolução.</b></p>

  <p>
    <strong>Título:</strong>
    <%= @clinic_case.title %>
  </p>

  <p>
    <strong>Informações Clínicas:</strong>
    <%= @clinic_case.clinicInformation %>
  </p>

  <table>
    <tr>
      <% @clinic_case.images.each_with_index do |image, i| %>
        <% if i != 0 && i % 3 == 0 %>
          </tr><tr>
        <%end%>
        <td>
          <div class="image_button">
            <%= link_to topic_clinic_case_image_path(@topic, @clinic_case, :image_id => i) do %>
              <%= image_tag(@clinic_case.thumbnail(i)) %>
            <% end %><br>
          </div>
        </td>
      <%end%>
    </tr>
  </table>
  <p>
    <strong>Descrição do caso:</strong>
    <%= @clinic_case.description %>
  </p>

  <p>
    <strong>Evolução do caso:</strong>
    <%= @clinic_case.caseEvolution %>
  </p>

  <p>
    <strong>Aprendendo um pouco mais:</strong>
    <%= @clinic_case.extraInformation %>
  </p>

  <p style='margin-bottom: 0px;'>
    <strong>Dicionário:</strong>
  </p>
  <div class="dictionary-button">
    <%= link_to module_dic_dictionaries_path(@module) do %>
      <%= "Dicionário" %>
      <% session[:back_dic] = {"type" => "clinic", "topic_id" => @topic.id, "clinic_id" => @clinic_case.id} %>
    <% end %>
  </div>
  
  <div class="actions">
    <%if !current_user.student? %>
      <%= link_to 'Editar', edit_topic_clinic_case_path(@topic, @clinic_case) %>
    <%end%>
    
      <%= link_to 'Voltar', topic_clinic_cases_path(@topic) %>
  </div>
</div>