<div class='form-style-5'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Título:</strong>
    <%= @clinic_case.title %>
  </p>

  <p>
    <strong>Informações Clinicas:</strong>
    <%= @clinic_case.clinicInformation %>
  </p>

  <p>
    <strong>Descrição do caso:</strong>
    <%= @clinic_case.description %>
  </p>

  <p>
    <strong>Evolução do caso:</strong>
    <%= @clinic_case.caseEvolution %>
  </p>

  <p>
    <strong>Informações extras:</strong>
    <%= @clinic_case.extraInformation %>
  </p>

  <%= link_to 'Edit', edit_clinic_case_path(@clinic_case) %> |
  <%= link_to 'Back', clinic_cases_path %>
</div>