<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Título:</strong>
    <%= @clinic_case.title %>
  </p>

  <p>
    <strong>Informações Clínicas:</strong>
    <%= @clinic_case.clinicInformation %>
  </p>
  <table>
    <tr>
      <% @clinic_case.images.each_with_index do |image, i| %>
        <% if i != 0 && i % 3 == 0 %>
          </tr><tr>
        <%end%>
        <td><%= image_tag(image, :class => "image")%></td>
          <br>
      <%end%>
    </tr>
  </table>
  <p>
    <strong>Descrição do caso:</strong>
    <%= @clinic_case.description %>
  </p>

  <p>
    <strong>Evolução do caso:</strong>
    <%= @clinic_case.caseEvolution %>
  </p>

  <p>
    <strong>Aprendendo um pouco mais:</strong>
    <%= @clinic_case.extraInformation %>
  </p>
  
  <div class="actions">
    <%if !current_user.student? %>
      <%= link_to 'Editar', edit_topic_clinic_case_path(@topic, @clinic_case) %>
    <%end%>
    
      <%= link_to 'Voltar', topic_clinic_cases_path(@topic) %>
  </div>
</div>