<%= form_with(model: student_class, local: true) do |form| %>
  <% if student_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_class.errors.count, "error") %> prohibited this student_class from being saved:</h2>

      <ul>
      <% student_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.text_field :professor_id, id: :student_class_professor_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :student_class_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
