<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= @student_class.professor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student_class.name %>
</p>

<%= link_to 'Edit', edit_student_class_path(@student_class) %> |
<%= link_to 'Back', student_classes_path %>
