<%= form_for(@case_module, html:{class:'form-style-5'}) do |form| %>
  <% if case_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_module.errors.count, "error") %> proibiram esse Módulo de ser salvo:</h2>

      <ul>
      <% case_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br>
  <% end %>

  <%= render "#{@case_module.current_step}_step", :form => form %>

  <div class="actions">
    <% if @case_module.first_step?%>
      <%= form.submit "Avançar etapa"%>
    <% elsif @case_module.new_record?%>
      <%= form.submit "Criar Módulo"%>
    <%else%>
      <%= form.submit "Atualizar Módulo"%>
    <%end%>

    <%= form.submit "Voltar etapa", :name => "back_button" unless @case_module.first_step? %>
  </div>
<% end %>
