<%= form_for(@case_module) do |form| %>
  <% if case_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_module.errors.count, "error") %> impediram esse Módulo de ser salvo:</h2>

      <ul>
      <% case_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br>
  <% end %>

  <%= render "#{@case_module.current_step}_step", :form => form %>

  <div class="actions">
    <div class="button-style">
      <%= form.submit "Anterior", :name => "back_button" unless @case_module.first_step? %>
    </div>

    <% if @case_module.first_step?%>
      <%= form.button :submit do %>
        <%= image_tag("ico05.png")%>
      <% end %>
      
    <%else%>
      <%= form.button :submit do %>
        <%= image_tag("ico01.png")%>
      <% end %>
    <%end%>
  </div>
<% end %>
