<%= form_with(model: case_module, local: true) do |form| %>
  <% if case_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_module.errors.count, "error") %> prohibited this case_module from being saved:</h2>

      <ul>
      <% case_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :case_module_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :case_module_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
