<%= form_for(@case_module, html:{class:'form-style-5'}) do |form| %>
  <% if case_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_module.errors.count, "Error") %> atrapalharam esse Módulo de ser salvo:</h2>

      <ul>
      <% case_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br>
  <% end %>

  <div class="field">
    Título: <%= form.text_field :title %>
  </div>

  <div class="field">
    Imagem: <br> <%= form.file_field :image, accept: 'image/*'%><br><br>
  </div>

  <div class="field">
    Descrição do Módulo: <br> <%= form.text_area :description %>
  </div>

  <div class="field">
    Autor(es) do Módulo: <br> <%= form.text_area :author %>
  </div>

  <div class="field">
    Dicionário: <br> <%= form.text_area :dictionary %>
  </div>

  <div class="field">
    Privacidade: <br> <%= form.text_area :privacy %>
  </div>

  <div class="actions">
    <%= form.submit "Criar Módulo"%> | 
    <%= link_to 'Voltar', case_modules_path %>
  </div>
<% end %>
