<%= render partial: "layouts/header" %>
<div class='form-style-5'>
	<h1>Editando</h1>

	<%if !current_user.student? %>
	  	<%= render 'form', case_module: @case_module %>

		<div class="actions">
			<%= link_to image_tag("ico04.png"), @case_module %>
			<div class="button-style">
				<%= link_to 'Excluir Módulo', @case_module, method: :delete, data: { confirm: 'Deseja mesmo apagar?' } %>
			</div>
		</div>
	<%else%>
		<div class="actions">
			Você não possui autorização para editar esse módulo.
			<br>
			<br>
			<%= link_to image_tag("ico04.png"), case_module_path %>
		</div>
		
	<%end%>
</div>