<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Título:</strong>
    <%= @case_module.title %>
  </p>
  
  <p>
    <strong>Descrição do módulo:</strong>
  </p>
  <pre><%= @case_module.description %></pre>

  <div>
    <%= image_tag(@case_module.thumbnail) if @case_module.image.attached? %><br>
  </div>
  
  <p>
    <strong>Autor(es):</strong>
    <%= @case_module.author %>
  </p>

  <p>
    <strong>Dicionário:</strong>
    <%= @case_module.dictionary %>
  </p>

  <div class="actions">
    <%if !current_user.student? %>
      <%= link_to 'Editar Módulo', edit_case_module_path(@case_module) %>
      <%= link_to 'Criar novo Assunto', new_case_module_topic_path(@case_module) %>
    <%end%>  
    <%= link_to 'Visualizar Assuntos', case_module_topics_path(@case_module)%>
    <%= link_to 'Voltar', case_modules_path %>
  </div>
</div>