<%= render partial: "layouts/header" %>
<div class='form-style-5'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Título:</strong>
    <%= @case_module.title %>
  </p>
  
  <p>
    <strong>Descrição do módulo:</strong>
    <%= @case_module.description %>
  </p>

  <div class='item_image'>
    <%= image_tag(@case_module.image, :class => "image") if @case_module.image.attached? %><br>
  </div>
  
  <p>
    <strong>Autor(es):</strong>
    <%= @case_module.author %>
  </p>

  <p>
    <strong>Dicionário:</strong>
    <%= @case_module.dictionary %>
  </p>

  <p>
    <strong>Privacidade:</strong>
    <%= @case_module.privacy %>
  </p>


  <div class="actions">
    <%= link_to 'Visualizar tópicos', case_module_topics_path(@case_module)%>
  </div>

  <div class="actions">
    <%= link_to 'Editar', edit_case_module_path(@case_module) %> |
    <%= link_to 'Voltar', case_modules_path %>
  </div>
</div>