<%= render partial: "layouts/header" %>
<div class='form-style-5', style="width: fit-content;">

  <div style="text-align:center; width: fit-content;">
    <%= image_tag(@case_module.image) if @case_module.image.attached? %><br>

    <p>
    <strong><%= @case_module.image_label %></strong>
    </p>

    <p>
      <strong>Descrição:</strong>
      <pre><%= @case_module.image_description %></pre>
    </p>
  </div>

  <div class="actions">
    <%= link_to image_tag("ico04.png"), @case_module %>
  </div>
</div>