<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @case_module.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case_module.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @case_module.author %>
</p>

<p>
  <strong>Dictionary:</strong>
  <%= @case_module.dictionary %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @case_module.privacy %>
</p>

<%= link_to 'Edit', edit_case_module_path(@case_module) %> |
<%= link_to 'Back', case_modules_path %>
