<div class="navbar">
	<div class="navbar_logo">
		<%= image_tag("/CCVIEW_logo.jpeg", :alt => "logo", :class => "icon") %>
	</div>
	
	<%= link_to "Início", root_path %> | 

	<% if user_signed_in? %>
		<%= link_to "Dicionário", dictionaries_path %> | 
		<% if current_user.admin?%>
			<%= link_to "Gerenciar Contas", home_administration_path %> | 
		<%end%>
	<%end%>

	<%= link_to "Sobre", home_About_path %> | 
	<%= link_to "Fórum", "http://ccview.forumeiros.com", :target => "_blank" %> |

	<% if user_signed_in? %>
		<%= link_to "Sair", destroy_user_session_path, :method => :delete %>
		<%= current_user.email %>
	<%else%>
		<%= link_to "Iniciar Sessão", new_user_session_path %>
	<%end%>
</div>